<div class="login">
  <img src="assets/login-bg.png" alt="image" class="login__bg">
  <form [formGroup]="registerForm" (submit)="register()" class="login__form">
    <h1 class="login__title">Rejestracja</h1>
    <div class="login__inputs">
      <div class="login__box">
        <input type="email" placeholder="Username" required class="login__input" formControlName="username">
      </div>

      <div class="login__box">
        <input type="password" placeholder="Password" required class="login__input" formControlName="password">
      </div>
    </div>
    <button type="submit" class="login__button">Zarejestruj się</button>
    <div class="login__register">
      Masz konto? <a href="/login">Zaloguj się</a>
    </div>
  </form>
</div>
